extends ../layouts/app.pug
include ../mixins/form.pug
block content
  .container
    .row.justify-content-center
      .col-md-8.col-md-offset-2
        .panel.panel-default
          .panel-heading Login
          .panel-body
            form(method="POST" action="/login" noValidate)
              include ../shared/csrf-input.pug
              include ../shared/form-errors.pug
              +inline-input({ name: 'email', label: 'Email', type: "email", errors: errors, value: email })
              +inline-input({ name: 'password', label: 'Password', type: "password", errors: errors })
              .form-group.row
                .col-md-12
                  button.btn.btn-primary.pull-right(type='submit') Submit

