script(src="/vendors/js/jquery-1.10.2.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.0/moment.min.js")
script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.4.0/bootbox.min.js")
script(src="/vendors/js/toastr.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js")
script(src="/vendors/js/underscore-min.js")
script(src="/vendors/js/app.js")
