link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
link(rel="stylesheet", href="/vendors/css/animate.min.css")
link(rel="stylesheet", href="/vendors/css/toastr.min.css")
link(rel="stylesheet", href="/vendors/css/site.css")
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css")
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto")
