link(rel="stylesheet", href="/vendors/css/bootstrap.min.css")
link(rel="stylesheet", href="/vendors/css/animate.min.css")
link(rel="stylesheet", href="/vendors/css/site.css")
link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto")
