doctype
html(lang='en')
  head
    meta(charset='utf-8')
    include ../shared/styles.pug
    block styles
    title #{pageTitle} | Gig Cloud
  body
    include ../shared/nav.pug
    block content
    include ../shared/scripts.pug


