extends ../layouts/app.pug
block content
  .container
    .row.justify-content-center
      .col-md-8.col-md-offset-2
        .panel.panel-default
          .panel-heading Add a new gig
          .panel-body
            include _form.pug
